<div class="row">
  <div class="sm-6 md-4 lg-2 col">
    <button routerLink="/addcategory" class="btn-success margin-bottom-small">Add New</button>
    <button routerLink="/categories">List</button>
  </div>
  <div class="sm-6 md-8 lg-10 col">
    <h3 class="margin-bottom-large">
      Ajouter une catégorie
    </h3>
    <div class="alert alert-success margin-bottom-small" *ngIf="msg == 'ok'">
      Ajout effectué avec succès
    </div>
    <div class="alert alert-success margin-bottom-small" *ngIf="err">
      Impossible d'ajouter une catégorie
    </div>
    <form #formCategorie="ngForm">
      <div class="form-group">
        <label for="paperInputs1">Name</label>
        <input type="text" ngModel name="name" placeholder="name" id="paperInputs1">
      </div>
      <button (click)="add(formCategorie.value)" class="text-center btn-small btn-secondary">Ajouter</button>
    </form>

  </div>
</div>
